<!DOCTYPE html>
<html>
    <head>
        <title>Terms & Conditions</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <style>
            .container
            {
                text-align: justify;
            }
            ol, ul
            {
                list-style-position: outside;
            }
            ol li
            {
                margin-bottom: 15px;
            }
            /* ol{ counter-reset: item }
            ol li{ display: block }
            ol li:before 
            { 
                content: counters(item, ".") ". ";
                counter-increment: item;
                margin-left: -28px; 
            } */
            ul
            {
                list-style-type: disc;
            }
            .heading
            {
                margin: 20px 0px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container.fluid heading">
            <h1>About Us</h1>
        </div>
        <div class="container">
            <p>3ndk app connects you with a network of laundry and dry cleaning service providers at the comfort of your home.</p>
            <p>3ndk is an innovative solution that allows you to use the services of a network of laundries and dry cleaning professionals in a few easy steps. We maintain the highest standards of business integrity by following local and national regulations and environmental safety rules.</p>
            <p>With few clicks on your phone, you can request the service you are looking for through the 3ndk application.</p>
            <p>Laundry has never been easier, save time and avoid long trips to the laundrette through four simple steps:</p>
            <ul>
                <li>Choose your nearest/preferred laundry.</li>
                <li>Select the service you desire (washing, ironing, dry cleaning)</li>
                <li>Enter the number of items we will pick</li>
                <li>Set your preferred date and time for the collection</li>
            </ul>
            <p>Our representative will come to pick up the order on the appointed time</p>
            <p>Within 24 hours your clothes will be all cleaned and delivered back to your doorstep</p>
        </div>
    </body>
</html>