<p style="text-align: right;"><strong>من نحن؟</strong></p>
<p style="text-align: right;"><span style="font-weight: 400;">عندك هو تطبيق يربطك بشبكة من المغاسل التي توفر خدمات الغسيل والتنظيف الجاف دون أن تغادر بيتك.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">عندك هو حلٌ ذكي وفعال يسمح لك باستخدام خدمات شبكة واسعة من المغاسل وخبراء التنظيف الجاف من خلال بضع خطوات بسيطة. محافظين على أعلى معايير النزاهة والمهنية من خلال اتباعنا للقواعد المحلية والدولية وقوانين المحافظة على البيئة.</span></p>
<p style="text-align: right;">&nbsp;</p>
<p style="text-align: right;"><span style="font-weight: 400;">الغسيل لم يكن أبداً بهذه السهولة من قبل.. </span></p>
<p style="text-align: right;"><span style="font-weight: 400;">من خلال بضع ضغطات على هاتفك تستطيع أن تطلب خدمة الغسيل التي تبحث عنها باستخدام تطبيق عندك وتوفر الوقت وتتجنب الرحلات الطويلة إلى المغاسل:</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">- اختر مغسلتك المفضلة أو أقرب مغسلة لموقعك.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">- اختر الخدمة التي ترغب بها (الغسل، الكي، التنظيف الجاف)</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">- أدخل عدد القطع التي سنستلمها.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">- حدد الوقت والتاريخ المناسب لنمر عليك.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">ممثل الخدمة سيأتي ليأخذ الطلب في الوقت المتفق عليه وفي خلال 24 ساعة فقط ستكون ملابسك جاهزة أمام باب منزلك. </span></p>
<p style="text-align: right;"><br /><br /></p>